@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #000000;
}

.App {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-height: 100%;
    max-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 40%;
    background-color: #ffffff;

    h1 {
        font-family: 'Inter';
        font-weight: 900;
        font-size: 56px;
        color: #000000;
    }

    input {
        font-family: 'Inter';
        font-weight: 600;
        font-size: 18px;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #ffffff;
        border: 2px solid #000000;
        border-radius: 5px;
    }

    button {
        font-family: 'Inter';
        font-weight: 600;
        font-size: 18px;
        padding: 10px 20px;
        border-radius: 5px;
        color: #000000;
        border: 2px solid #000000;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s ease,
                    color 0.3s ease;
    }

    button:hover {
        background-color: #000000;
        color: #ffffff;
    }

    .TodoList {
        margin: 50px 0;
        display: flex;
        flex-direction: column;
        min-width: 400px;

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 2px solid #000000;
            border-radius: 5px;
            margin-top: 10px;

            span {
                font-family: 'Inter';
                font-weight: 600;
                font-size: 20px;
                background-color: transparent;
                color: #000000;
                border: 0;
                border-radius: 5px 0 0 5px;
                padding: 20px 40px 20px 20px;
                margin: 0;
            }

            .deleteBtn {
                border-left: 2px solid #000000;
                fill: #000000;
                height: 20px;
                padding: 22px;
                cursor: pointer;
                transition: fill 0.3s ease,
                            background-color 0.3s ease;
            }

            .deleteBtn:hover, .confirmBtn:hover {
                fill: #ffffff;
                background-color: #000000;
            }
        }
    }
}